<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Virginia Court Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 40px;
                padding-bottom: 20px;
            }

            #section-header {
                background-image: url('/img/court-search-blur-background.jpeg');
                background-size: cover;
                background-position: center;
                height: 400px;
                margin-top: -25px;
                padding: 48px 0;
            }

            #section-header .container-wrapper {
                position: absolute;
                width: 100%;
                margin-top: 50px;
                padding: 40px;
                background: rgba(255, 255, 255, 0.25);
            }

            #section-header .heading {
                font-size: 40px;
                font-weight: lighter;
                letter-spacing: 2px;
            }

            #section-header .sub-heading {
                font-size: 18px;
            }

            #usages h4 {
                font-size: 16px;
            }

            #sign-in, #signed-in {
              display: none;
              margin-bottom: 25px;
            }

            #info-form, #data, #waiting-approval {
              display: none;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Virginia Court Data</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#stories">Stories</a></li>
                <li><a href="#open-data">Open Data</a></li>
                <li><a href="#details">Details</a></li>
                <li><a href="#download">Download</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right right">
            </ul>
      </div>
        <!--<div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>--><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section id="section-header">
        <div class="container-wrapper">
            <div class="container">
                <div class="heading">
                    Virginia Court Data
                </div>
                <div class="sub-heading">
                    Court case information from Virginia's Circuit and General District courts, available for bulk download
                </div>
            </div>
        </div>
    </section>

    <div class="container">
      <div id="stories" class="row">
        <div class="col-xs-12">
          <h2>Stories</h2>
          <h4><a href="https://lawyerist.com/110584/big-bias-big-data/">Uncovering Big Bias with Big Data</a><i><small>, Lawyerist.com, David Colarusso, May 31, 2016</i></small></h4>
          <h4><a href="http://www.dailypress.com/news/dp-nws-sunshine-disparities-20160317-story.html">Blacks more likely to get prison time in plea deals, Hampton Roads court data show</a><i><small>, Dave Ress, Daily Press, March 17, 2016</i></small></h4>
          <h4><a href="http://www.dailypress.com/news/dp-nws-sunshine-guns-20160312-story.html">Guns: Hampton Roads court records show many gun law violators get a pass</a><i><small>, Dave Ress, Daily Press, March 15, 2016</i></small></h4>
          <h4><a href="http://www.dailypress.com/news/dp-nws-crime-courts-data-20160312-story.html">Courts records show many crimes, but few prison terms</a><i><small>, Dave Ress, Daily Press, March 12, 2016</i></small></h4>
          <h4><a href="http://www.roanoke.com/news/local/roanoke/pattern-of-settling-lawsuits-against-roanoke-area-hospitals-makes-them/article_af00ca0b-0969-5e2e-841d-c3b172f25b86.html">Pattern of settling lawsuits against Roanoke-area hospitals makes them hard to find</a><i><small>, Laurence Hammack, Roanoke Times, October 11, 2015</i></small></h4>
          <h4><a href="http://www.dailypress.com/news/politics/dp-nws-probation-racial-disparity-virginia-20150329-story.html">Racial disparities exists in probation violation penalties, reports show</a><i><small>, Dave Ress, Daily Press, March 29, 2015</i></small></h4>
          
          <p>Let me know how you are using the data - <a href="https://twitter.com/oilytheotter">Twitter</a> or <a href="mailto:info@virginiacourtdata.org">Email</a></p>
        </div>
      </div>

      <div id="open-data" class="row">
        <div class="col-xs-12">
          <h2>Open Data</h2>
          <p>This website is an independent, private effort, created and run as a hobby, and is in no way affiliated with the Commonwealth of Virginia or Virginia's Court System. We hope that the state will begin releasing court data in bulk so that we don't have to.</p>
          <h5><a href="https://medium.com/@virginiacourtdata/court-data-and-the-2017-session-of-the-general-assembly-f1bae58a1f1e#.3w6zknpfp">Court Data and the 2017 Session of the General Assembly</a></h5>
          <h5><a href="https://medium.com/@virginiacourtdata/why-its-difficult-to-get-court-data-in-virginia-404473507f0d#.5hql9ylwa">Why it’s difficult to get court data in Virginia</a></h5>
          <p>Check <a href="https://medium.com/@virginiacourtdata">Medium</a> for more news and amateur data analysis.</p>
        </div>
      </div>

      <div id="details" class="row">
        <div class="col-xs-12">
          <h2>Details</h2>
          <h4>Last Update</h4>
          <p>April 17th, 2018</p>
          <h4>Format</h4>
          <p>Downloads are compressed comma separated value (CSV) files, which can be unzipped and easily imported into software like Google Sheets, Microsoft Excel, and Microsoft Access. If there are more than 250,000 cases, they will be broken up into multiple files for ease of use. If you want a smaller subset of data or you need help using the data, get in touch with me on <a href="https://twitter.com/oilytheotter">Twitter</a> or <a href="mailto:info@virginiacourtdata.org">Email</a>.</p>
          <h4>Fields</h4>
          <p>Detailed information about the fields in these files can be found in <a href="https://medium.com/@virginiacourtdata/virginia-court-data-fields-e224a9a41e15#.qkeo5r6ds">this Medium post</a>.</p>
          <h4>Anonymized</h4>
          <p>Case numbers, names, and dates of birth have been removed. If you have a specific need for the original data, please log in below.</p>
          <p>Even in the full dataset, the date of birth does not include the year of birth becuase it is censored on the state's website.</p>
          <h4>Incomplete Circuit Court Data</h4>
          <p>Alexandria and Fairfax are not available.</p>
        </div>
      </div>

      <div id="download" class="row">
        <div class="col-xs-12">
          <h2>Download</h2>

          <div id="sign-in">
            <div class="row">
                <div class="col-md-9">
                    If you are a journalist or you work for a non-profit organization, research institution, or government body 
                    and need un-anonymized data, you can request it by creating an account and providing just a couple 
                    pieces of information. We won't share this with anyone.
                </div>
            </div>
            <a class="btn btn-primary" href="signin.html">Request Full Datasets</a>
          </div>

          <div id="signed-in">
            <p>
              Signed in as <span id="user-email"></span>
              <button id="sign-out" class="btn btn-xs">Sign Out</button>
            </p>
            <p id="waiting-approval">
                We're looking over your request and we'll be in touch soon.
            </p>
            <div id="info-form">
              <p>Please provide some information for our records. If you have any quesitons, send us an <a href="mailto:info@virginiacourtdata.org">email</a>.</p>
              <form>
                <div class="form-group">
                  <label for="form-organization">Organization</label>
                  <input type="text" class="form-control" id="form-organization">
                </div>
                <div class="form-group">
                  <label for="form-usage">What are you using the data for?</label>
                  <textarea class="form-control" rows="3" id="form-usage"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>

          <div id="data">
            <h4>Circuit Criminal Court Cases</h4>
            <table class="table table-hover" id="circuit-criminal-table">
              <thead>
                <tr>
                  <th>Year of most recent hearing</th>
                  <th>Cases</th>
                  <th>Download Size</th>
                  <th>Uncompressed Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <h4>District Criminal Court Cases</h4>
            <table class="table table-hover" id="district-criminal-table">
              <thead>
                <tr>
                  <th>Year of most recent hearing</th>
                  <th>Cases</th>
                  <th>Download Size</th>
                  <th>Uncompressed Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <h4>Circuit Civil Court Cases</h4>
            <table class="table table-hover" id="circuit-civil-table">
              <thead>
                <tr>
                  <th>Year of most recent hearing</th>
                  <th>Cases</th>
                  <th>Download Size</th>
                  <th>Uncompressed Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <h4>District Civil Court Cases</h4>
            <table class="table table-hover" id="district-civil-table">
              <thead>
                <tr>
                  <th>Year of most recent hearing</th>
                  <th>Cases</th>
                  <th>Download Size</th>
                  <th>Uncompressed Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <h4>Circuit and District Criminal Cases By Defendant</h4>
            <table class="table table-hover" id="person-table">
              <thead>
                <tr>
                  <th>Cases</th>
                  <th>Download Size</th>
                  <th>Uncompressed Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <hr>

      <footer>
          <p>These court records are created by Virginia's Court System, and are thus without copyright protection, so may be reused and reproduced freely, without seeking any form of permission from anybody. All other website content is published under <a href="http://opensource.org/licenses/MIT">the MIT license</a>. This website is an independent, private effort, created and run as a hobby, and is in no way affiliated with the Commonwealth of Virginia or Virginia's Court System.</p>
          <p>Contact <a href="mailto:info@virginiacourtdata.org">Ben</a></p>
      </footer>
    </div> <!-- /container -->

        <script type="text/template" id="courtDataSetTemplate">
            <% _.each(dataSets, function(dataSet){ %>
                <tr>
                    <td><%= dataSet.year %></td>
                    <td><%= dataSet.cases.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td><%= (dataSet.filesize / 1000000).toFixed(1) %> MB</td>
                    <td><%= (dataSet.filesizeUncompressed / 1000000).toFixed(1) %> MB</td>
                    <td><a href="<%= dataSet.downloadLink %>" target="_blank">Download</a></td>
                </tr>
            <% }); %>
        </script>

        <script type="text/template" id="courtDataSetPersonTemplate">
            <% _.each(dataSets, function(dataSet){ %>
                <tr>
                    <td><%= dataSet.cases.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td><%= (dataSet.filesize / 1000000).toFixed(1) %> MB</td>
                    <td><%= (dataSet.filesizeUncompressed / 1000000).toFixed(1) %> MB</td>
                    <td><a href="<%= dataSet.downloadLink %>" target="_blank">Download</a></td>
                </tr>
            <% }); %>
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>

        <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyC7Gp8FIZIkFVWdZ14onNsuIr329oGK0Y0",
                authDomain: "virginiacourtdata.firebaseapp.com",
                databaseURL: "https://virginiacourtdata.firebaseio.com",
                storageBucket: "virginiacourtdata.appspot.com",
                messagingSenderId: "948563983018"
            };
            firebase.initializeApp(config);
        </script>
        <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>

        <script type="text/javascript">
            var shiftWindow = function() { scrollBy(0, -50) };
            if (location.hash) shiftWindow();
            window.addEventListener("hashchange", shiftWindow);
          
            var user = null;

            function loadAnonData() {
                $('#sign-in').show();
                $('#signed-in').hide();
                $('#user-email').text('');

                loadDataSet('anon');
            }

            function signIn() {
                $('#sign-in').hide();
                $('#signed-in').show();
                $('#user-email').text(user.email);

                // Load the user record
                firebase.database().ref('users/' + user.uid).once('value').then(function(userRecord) {
                    // On first login, we need to ask for their organization
                    var organization = '';
                    var usage = '';
                    var approved = false;

                    if(userRecord.val()) {
                        organization = userRecord.val().organization || '';
                        usage = userRecord.val().usage || '';
                        approved = userRecord.val().approved || false;
                    }

                    if(!organization) {
                        $('#info-form').show();
                        $('#data').hide();
                        user.sendEmailVerification();
                    } else if(!approved) {
                        $('#waiting-approval').show();
                    } else {
                        $('#waiting-approval').hide();
                        loadDataSet('complete');
                    }
                });
            }

            function signOut() {
                firebase.auth().signOut();
            }

            function saveOrganization() {
                var organization = $('#form-organization').val();
                var usage = $('#form-usage').val();

                // Validate form
                if(!organization) {
                    alert('Organization is required');
                    return;
                }

                // Save the data to the database
                firebase.database().ref('users/' + user.uid).set({
                    email: user.email,
                    lastLogin: Date.now(),
                    organization: organization,
                    usage: usage
                });

                $('#info-form').hide();
                $('#waiting-approval').show();
            }

            function initApp() {
                firebase.auth().onAuthStateChanged(function(activeUser) {
                    user = activeUser;
                    if (user) {
                        // User is signed in.
                        signIn();
                    } else {
                        // User is signed out.
                        loadAnonData();
                    }
                }, function(error) {
                    console.log(error);
                });
            }

            var loadDataSet = function(dataSetName) {
                firebase.database().ref('data/' + dataSetName).once('value').then(function(dataSetRef) {
                    var dataSets = dataSetRef.val();

                    var courtDataSetPersonTemplate = _.template(
                        $("#courtDataSetPersonTemplate").html()
                    );

                    var courtDataSetTemplate = _.template(
                        $("#courtDataSetTemplate").html()
                    );

                    for(var dataSetName in dataSets) {
                        if(dataSetName === 'person') {
                            $("#" + dataSetName + "-table tbody").html(
                                courtDataSetPersonTemplate({
                                    dataSets: _.sortBy(dataSets[dataSetName], 'day')
                                })
                            );
                        } else {
                            $("#" + dataSetName + "-table tbody").html(
                                courtDataSetTemplate({
                                    dataSets: _.sortBy(dataSets[dataSetName], 'year')
                                })
                            );
                        }
                    }
                    $('#data').show();
                });
            };

            window.addEventListener('load', function() {
                initApp();
                $('#info-form form').submit(function(event){
                    event.preventDefault();
                    saveOrganization();
                });
                $('#sign-out').click(signOut);
            });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56808528-4', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
